﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p><strong>Technologies and tools used to develop this application</strong></p>
<br />
<ul>
    <li>Visual Studio 2017</li>
    <li>SQL Management studio 2016</li>
    <li>Notepad++</li>
    <li>Git</li>
    <li>Application tested in google chrome browser</li>
    <li>
        <br />
        <p><strong> Here are some of the technologies and languages used in coding this project</strong></p>        
        <ul>
            <li>MVC asp.net with razor engine</li>
            <li>Javascript and JQuery</li>
            <li>SQL with stored procedures</li>
            <li>Entity Framwork using Database first approach (using edmx file)
            <li></li>
        </ul>
    </li>
</ul>
