﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">    
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" style=" width:100%; height: 500px !important;">
            <div class="item active">
                <img src="~/Content/images/earth.jpg" alt="Racing  Horses" height="200">
            </div>

            <div class="item" style=" width:100%; height: 500px !important;">
                <img src="~/Content/images/web-design.jpg" alt="Play" height="200">
            </div>

            <div class="item" style=" width:100%; height: 500px !important;">
                <img src="~/Content/images/code.jpg" alt="Roulette">
            </div>

            <div class="item" style=" width:100%; height: 500px !important;">
                <img src="~/Content/images/man.jpg" alt="Card">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>

<div class="row">
    <p class="lead">
        This application manages account transactions a person. A person will be created and may have accounts; person account can have unlimited number of transactions both debit and credit.
    </p>
    <p></p>
    <div class="col-md-4">
        <h2>Person List</h2>
        <p>
            List of all the people in the application with the option to adit or add new person
        </p>
    </div>
    <div class="col-md-4">
        <h2>Person Account(s)</h2>
        List of all person accounts, with the option to edit any account or add new account.
        <p>
    </div>
    <div class="col-md-4">
        <h2>Account Transaction</h2>
        Displays list of all transactions for a person account, with options to edit account information or add new transaction.
        <p>
    </div>
</div>