﻿@model IEnumerable<AccountsManagement.DAL.Account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.account_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.outstanding_balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.account_active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.account_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.outstanding_balance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.account_active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.code }) |
            @Html.ActionLink("Details", "Details", new { id=item.code }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.code })
        </td>
    </tr>
}

</table>
