﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#nav ul {
    display: none;
}

#nav li:hover > ul {
    display: block;
}

div.pager {
    text-align: center;
    margin: 1em 0;
}

div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #216aaf;
    color: #fff;
    margin-right: 0.5em;
}

div.pager span.active {
    background: #e6f1fb;
    color: #216aaf;
}

#toast-container > div {
    opacity: 1;    
}

.toast-top-center {
    top: 12px;
    left: 50%;
    margin: 0 0 0 -150px;
}

span.error {
    display: block;
    visibility: hidden;
    color: red;
    font-size: 90%;
}

tr.error {
    background-color: rgba(255,0,0,0.35);
}

.divider {
    width: 5px;
    height: auto;
    display: inline-block;
}

.modal-header2 {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-footer2 {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.modal-content2 {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.modal-dialog2 {
    position: relative;
    width: auto;
    margin: 10px;
}

@media (min-width: 768px) {
    .modal-dialog2 {
        width: 600px;
        margin: 30px auto;
    }

    .modal-content2 {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }

    .modal-sm2 {
        width: 300px;
    }
}