﻿@using AccountsManagement.Models.ViewModel;
@model AccountsManagement.Models.ViewModel.PersonAccountsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Person Accounts Information</h3>
<body>
    <div class="container">
        <div>
            <h4>Person details</h4>
                 <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Person.code)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Person.name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="text" id="name" name="Person.name" value="@Model.Person.name" class="form-control" />                            
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Person.surname, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">                            
                            <input type="text" id="surname" name="Person.surname" value="@Model.Person.surname" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Person.id_number, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Person.id_number, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">                            
                            <button  type="submit" name="action" value="Update" class="btn btn-primary a-btn-slide-text" onclick="UpdatePerson('@Model.Person.code','@Model.Person.id_number')">
                                <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span><strong> Update</strong>
                            </button>
                        </div>
                    </div>
                </div>
            @*}*@
        </div>

        <h4>New Account</h4>

         <div class="row well">
            <button type="button" id="create" class="btn btn-info pull-right" data-toggle="modal" data-target="#createAccountModal">
                <i class="glyphicon glyphicon-plus">
                </i> Create Account
            </button>
         </div>  

        <div id="createAccountModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title">New Account</h2>
                    </div>
                    <div class="modal-body">
                        <h4>Account Information</h4>
                        <table class="table table-responsive">
                            <tr>
                                <td>Account Number</td>
                                <td>
                                    <input type="text" id="accountnumber" class="form-control" />
                                    <span class="error"><b>Please provide a valid account number!</b></span>
                                </td>
                            </tr>
                            <tr>
                                <td>Outstanding Balance</td>
                                <td>
                                    <input type="text" id="outstandingbalance" class="form-control" />
                                    <span class="error"><b>Please provide a valid outstanding balance!</b></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="CreateAccount('@Model.Person.code')" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h4>Account List</h4>
            <table class="table table-responsive">
                <tr>
                    <th>Account Number</th>
                    <th>Outstanding Balance</th>
                </tr>
                @foreach (AccountsViewModel account in Model.Accounts)
                {
                    <tr class="mycontainer" id="mainrow">
                        <td>@account.account_number</td>
                        <td>@account.outstanding_balance</td>
                        <td align="right">
                            @using (Html.BeginForm("Edit", "Accounts", new { code = account.code }, FormMethod.Post))
                            {
                                <button name="action" value="edit" class="btn btn-primary a-btn-slide-text">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span><strong>Edit</strong>
                                </button>
                            }
                        </td>
                        <td align="left">
                            <button name="action" value="close" class="btn btn-primary a-btn-slide-text" onclick="confirmCloseAccount('@account.code')">
                                <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span><strong> Close</strong>
                            </button>
                        </td>
                    </tr>
                }
            </table>
        </div>
        
        <div>
            <input type="button" value="GO BACK" class="btn btn-primary"
                   onclick="location.href='/Persons/Index'" />
        </div>

    </div>
    </body>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/myScripts.js?v=2"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script type="text/javascript">

        function confirmCloseAccount(accountCode) {
            
            toastr.options.timeOut = 5000;
            toastr.options.extendedTimeOut = 5000;

            toastr.warning("<br /><br /><button type='button' id='confirmationRevertYes' class='btn btn-primary'>Yes</button>&nbsp;<button type='button' id='confirmationRevertNo' class='btn btn-primary'>No</button>", 'Are you sure you want to close the Account?',
                {
                    closeButton: false,
                    allowHtml: true,
                    onShown: function (toast) {
                        $("#confirmationRevertYes").click(function () {
                            CloseAccount(accountCode);
                        });
                    }
                });
        } 
    </script>

