﻿@using PagedList;
@using PagedList.Mvc;

@model IPagedList<AccountsManagement.Models.ViewModel.PersonViewModel>

@{
    ViewBag.Title = "Persons List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Persons List</h2>
<body>
    <p>
        @using (Html.BeginForm("Index", "Persons", FormMethod.Get))
        {
            <strong>Search by : </strong>
            @Html.RadioButton("option", "Surname") <text> Surname </text>
            @Html.RadioButton("option", "IDNumber") <text> ID Number </text>
            @Html.RadioButton("option", "AccountNo") <text> Account Number </text><br />
            <div class="form-group">
                <input type="text" id="search" name="search" class="form-control">
                <button type="submit" name="action" value="Search" class="btn btn-primary a-btn-slide-text">
                    <span aria-hidden="true"></span><strong>Search</strong>
                </button>
            </div>
        }
        </p>

    <p>  
        <div class="row well">
            <button type="button" id="create" class="btn btn-info pull-right" data-toggle="modal" data-target="#createPersonModal">
                <i class="glyphicon glyphicon-plus">
                </i> Add Person
            </button>
        </div>
    </p>

    <div id="createPersonModal" class="modal fade" role="dialog" style="position: absolute">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header2">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">New Person</h2>
                </div>
                <div class="modal-body">
                    <h4>Person Information</h4>
                    <table class="table table-responsive">
                        <tr>
                            <td>Name</td>
                            <td>
                                <input type="text" id="name" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td>Surname</td>
                            <td>
                                <input type="text" id="surname" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td>ID Number</td>
                            <td>
                                <input type="text" id="idnumber" class="form-control" />
                                <span class="error"><b>Please provide a valid ID number!</b></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="CreatePerson()" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    @if (Model.Count() > 0)
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().id_number)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.id_number)
                    </td>
                    <td align="right">
                        @using (Html.BeginForm("Edit", "Persons", new { code = item.code }, FormMethod.Post))
                        {
                            <button name="action" value="edit" class="btn btn-primary a-btn-slide-text">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span><strong>Edit</strong>
                            </button>
                        }
                    </td>
                    <td align="left">
                        <button type="button" class="btn btn-primary a-btn-slide-text" onclick="confirmDelete('@item.code')">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span><strong>Delete</strong>
                        </button>
                    </td>
                </tr>
            }

        </table>

        @Html.PagedListPager(Model,pageNumber => Url.Action("Index",new{
        pageNumber
        }))
    }
    else
    {
        <div class="text-center"> <strong>No Records Found </strong></div>
    }
</body>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/toastr.js"></script>
<link href="~/Content/toastr.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/myScripts.js?v=3"></script>
 <script type="text/javascript">  
     function confirmDelete(personCode) {
         
         toastr.options.timeOut = 5000;
         toastr.options.extendedTimeOut = 5000;
         toastr.options.positionClass = 'toast-top-center'  

         toastr.warning("<br /><br /><button type='button' id='confirmationRevertYes' class='btn btn-primary'>Yes</button>&nbsp;<button type='button' id='confirmationRevertNo' class='btn btn-primary'>No</button>", 'Are you sure you want to delete the Person?',
             {
                 closeButton: false,
                 allowHtml: true,
                 onShown: function (toast) {
                     $("#confirmationRevertYes").click(function () {                         
                         DeletePerson(personCode);
                     });
                 }
             });
     }
 </script>
