﻿@model AccountsManagement.Models.ViewModel.TransactionsViewModel

@{
    ViewBag.Title = "Update Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Transaction</h2>

@Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>Transaction</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.code)
    <div class="form-group">
        @Html.LabelFor(model => model.transaction_date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.transaction_date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.transaction_date, "", new { @class = "text-danger" })            
            @*<span class="error"><b>Please provide a valid transaction date-not greater than today!</b></span>*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.capture_date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.capture_date, new { htmlAttributes = new { disabled = true, @readonly = "readonly", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.capture_date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.amount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.amount, new { htmlAttributes = new { disabled = true, @readonly = "readonly", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" id="description" name="Account.accountnumber" value="@Model.description" class="form-control" />
            <span class="error"><b>Please provide a valid description!</b></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" name="action" value="Update" class="btn btn-primary a-btn-slide-text" onclick="UpdateTransaction('@Model.code','@Model.transaction_date')">
                <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span><strong> Update</strong>
            </button>
        </div>
    </div>
</div>

<div>
    @using (Html.BeginForm("Edit", "Accounts", new { code = Model.account_code }, FormMethod.Post))
    {
        <button name="action" value="edit" class="btn btn-primary">GO BACK</button>
    }
    @*<input type="button" value="GO BACK" class="btn btn-primary"
           onclick="location.href='@Request.UrlReferrer'" />*@
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/toastr.js"></script>
<script src="~/Scripts/myScripts.js?v=2"></script>
<link href="~/Content/toastr.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
 

</script>
